<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
        integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ=="
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="container" id="app">
        <div class="row justify-content-end mt-3 mb-3">
            <div class="col-2">
                <button type="button" class="btn btn-primary" v-on:click="openModal('new')">
                    建立新產品
                </button>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col" width="120">分類</th>
                        <th scope="col">產品名稱</th>
                        <th scope="col" width="120">原價</th>
                        <th scope="col" width="120">售價</th>
                        <th scope="col" width="120">是否啟用</th>
                        <th scope="col" width="180">編輯</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in products" :key="item.id">
                        <td>{{idx+1}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.origin_price}}</td>
                        <td>{{item.price}}</td>
                        <td v-if="item.enabled" class="text-success">啟用</td>
                        <td v-else class="text-danger">未啟用</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-warning"
                                v-on:click="openModal('edit',item)">編輯</button>
                            <button type="button" class="btn btn-sm btn-outline-danger"
                                v-on:click="openModal('delete',item)">刪除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal Create / Modify -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title" id="exampleModalLabel">新增產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ImgUrl">輸入圖片網址</label>
                                        <input type="text" class="form-control" id="ImgUrl"
                                            v-model="tempProduct.imageUrl">
                                    </div>
                                    <img class="img-fluid" :src="tempProduct.imageUrl">
                                </div>
                                <div class="col-md-8">
                                    <form>
                                        <div class="form-group">
                                            <label for="inputTitle">標題</label>
                                            <input type="text" class="form-control" id="inputTitle"
                                                v-model="tempProduct.title" placeholder="請輸入標題">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCategory">分類</label>
                                                <input type="text" class="form-control" id="inputCategory"
                                                    v-model="tempProduct.category" placeholder="請輸入分類">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputUnit">單位</label>
                                                <input type="text" class="form-control" id="inputUnit"
                                                    v-model="tempProduct.unit" placeholder="請輸入單位">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputOriPrice">原價</label>
                                                <input type="text" class="form-control" id="inputOriPrice"
                                                    v-model="tempProduct.origin_price" placeholder="請輸入原價">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputSalePrice">售價</label>
                                                <input type="text" class="form-control" id="inputSalePrice"
                                                    v-model="tempProduct.price" placeholder="text">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <label for="inputDes">產品描述</label>
                                            <textarea class="form-control" id="inputDes" rows="3"
                                                v-model="tempProduct.description" placeholder="請輸入產品描述"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputContext">說明內容</label>
                                            <textarea class="form-control" id="inputContext" rows="3"
                                                v-model="tempProduct.content" placeholder="請輸入說明內容"></textarea>
                                        </div>
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="inputActive"
                                                v-model="tempProduct.enabled">
                                            <label class="form-check-label" for="inputActive">是否啟用</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="updateProduct">確認</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Delete-->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">刪除產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除{{tempProduct.title}}產品</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="DeleteConfirm">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--Bootstrap js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
        integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ=="
        crossorigin="anonymous"></script>
    <script src="MyJs.js"></script>
</body>

</html>